
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #4f46e5;
    --background: #0f172a;
    --text: #e2e8f0;
    --card: #1e293b;
}


body {
    font-family: Arial, sans-serif;
    background: var(--background);
    color: var(--text);
    line-height: 1.6;
    padding: 2rem;
}


.container {
    max-width: 900px;
    margin: auto;
}


h1, h2 {
    margin-bottom: 1rem;
}


section {
    margin-bottom: 3rem;
}


.project {
    background: var(--card);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    transition: transform 0.2s ease;
}

.project:hover {
    transform: scale(1.03);
}


button {
    background: var(--primary);
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

html {
    scroll-behavior: smooth;
}